server-id           1
log-bin             #Set the path to the binary log file, such as log-bin=E:\MySql_Logs\BinLog. Don't include the file extension.
binlog_format       ROW
expire_logs_days    7
binlog_checksum     NONE
binlog_row_image    FULL
log_slave_updates   TRUE
